#logo{
    color: #F3EFF5;
    font-size: 45px;
    background-color: #0d0a0b;

}

#nav-bar-color{
    background-color:#0d0a0b;;
}

.nav-button{
    background-color: #72b01d;
    color:#F4F4F8;
}


#main-container{
    background-color: #72b01d;
    height: 500px;
}

.wiki-text{
    height: 300px;
    overflow-y: scroll;
}
.btnGroup{
    margin-left: 720px;
    background-color: #72b01d;
}

#btnEng{
    color: #F4F4F8;
    border-right: solid #F3EFF5
}

#btnSpn{
    color: #F4F4F8;
    border-left: solid #F3EFF5
}

#btnGrm{
    color: #F4F4F8;
}

#search-bar{
    border: solid;
    border-color: #72b01d;
    color: #72b01d;
}

.header{
    background-color:#3F7020 ;
    color: #F4F4F8;
}
/* Desktop */
@media only screen and (min-width: 992px){
    .translators-sm{
        display: none;
       }
}

/* Tablets */
@media only screen and (max-width: 768px){
    .nav-bar{
        position: relative; 
    }

    /* .log-in{
        display: none;
    } */

    #logo{
        width: 100%;
      }

    .wiki-container{
        margin: auto;
        padding-top: 2px;
    }

    .col {
        width: 100%;
    }

    .btnGroup{
        margin-left: 58%;
    }

    .translators-sm{
        display: none;
       }

    .card-wrapper{
        margin: auto;
    }

    .wiki-text{
        font-size: 16px;
    }

    .trans-text{
        font-size: 16px;
    }
};
/* Mobile Phone */
@media only screen and (max-width: 576px){
   body{
       background-color: #72b01d;
   }
   
    .nav-bar{
       position: static;
       
   } 

   .translators-lg{
    display: none;
   }

   /* .translators-sm{
       display: show;
   } */

   .wiki-container{
       margin: auto;
   }

   .col {
    width: 100%;
}

}



